server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/haruanbu
    username: app
    password: pass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate   # Flyway로 스키마 관리할 거라 validate 추천
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

  flyway:
    enabled: true

logging:
  level:
    org.hibernate.SQL: debug
